@charset "utf-8";
/* CSS Document */
body {  
    text-align: center;  
}  

a {
text-decoration: none;
}

div#container {
	width: 100%;
    margin: 0 auto;  
    text-align: left;  
    /*
    border: 1px solid #FF0000;
    */
}  

div#menu {
	width: 300px;
    margin: 0 auto;  
    text-align: center;
}


span.new{
	color:#ef220b;
}